.profile__info {
    display: flex;
    max-width: 336px;
    margin: 0 0 0 30px;
    flex-wrap: wrap;
    color: #FFFFFF;
    align-items: baseline;
}

@media screen and (max-width: 685px) {
    .profile__info {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .profile__info {
        max-width: 282px;
        margin: 26px 0 0;
        justify-content: center;
        text-align: center;
    }
}